.productsWrapper {
    width: 79%;
    background-color: #C0C0C0;
    min-height: 750px;
    margin: 30px 0 0 20px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top:0;
}

.cardWrapper {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-around;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    transition: 0.8s all;
    visibility: visible;
    opacity: 1;
}
