.basketImage {
  width: 60px;
  height: 60px;
  /* margin-top: 30px; */
}

.basketWrapper {
  position: relative;
  padding-right: 30px;
}

.amount {
  width: 30px;
  height: 20px;
  background-color: #4C85D6;
  border-radius: 30%;
  text-align: center;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 40px;
  left: 37px;
}
