.filterContent {
  width: 20%;
  background-color: #c0c0c0;
  height: 750px;
  margin-top: 30px;
  border-radius: 10px;
  position: absolute;
  top: 0;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
}
