.header {
  background-color: #F4F6F9;
  width: 100%;
  height: 80px;
  color: rgb(20, 19, 19);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalCard {
  font-size: 20px;
}

.logoWrapper {
  display: flex;
  padding-left: 30px;
}

.logo {
  width: 150px;
  height: 80px;
}
