.headersWrapper {
  width: 100%;
  background-color: #E7F0FF;
  border: 1px solid#E7F0FF;
  border-radius: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon {
  width: 30px;
  height: 30px;
  padding-left: 10px;

  &:hover{
    cursor: pointer;
  }
}

.sorting {
  width: 230px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
}

.found {
  font-size: 20px;
  color: rgb(20, 19, 19);
}

