.footer {
  max-width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F4F6F9;
  border-radius: 10px;
  margin-top: 20px;
}

.footerYear {
  color: black;
  padding-left: 30px;
}

.rsLogo {
  width: 100px;
  padding-left: 30px;
}

.footerGithub {
  width: 27px;
  height: 27px;
  padding-right: 5px;
}

.year {
  font-size: 20px;
}

.githubsWrapper {
  padding-right: 30px;
}
